<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="user">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hello : {{ user.username }} </a>
        </li>
      </ul>
      <div style="margin-right: 10px;"><button (click)="hdClick()" class='btn-success btn'>View profile</button></div>
      <div style="margin-right: 10px;"><button routerLink="/count" class='btn-danger btn'>Show count</button></div>
      <button (click)="handleSubmit()" class="btn btn-outline-success" type="submit">Logout</button>
    </div>
  </div>
</nav>
<div class='count'>
  <button (click)="hdCountDown()" class="btn btn-outline-success">Delete</button>
  <div class="count-value">{{ this.count }}</div>
  <button (click)="hdCountUp()" class="btn btn-outline-success">Add</button>
</div>
