<div class="limiter">
  <div class="container-login100">
    <div *ngIf="form" class="wrap-login100">

      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login100-form validate-form">
        <span class="login100-form-title p-b-43"> Apply as a Employee</span>

        <app-input [submitted]="submitted" [parentForm]="form" label="UserName" fieldName="username"
          formControlName="username"></app-input>

        <app-email [submitted]="submitted" [parentForm]="form" label="Email" fieldName="email" formControlName="email">
        </app-email>

        <app-phone [submitted]="submitted" [parentForm]="form" label="Phone" fieldName="phone" formControlName="phone">
        </app-phone>

        <app-password [submitted]="submitted" [parentForm]="form" label="Password" fieldName="password"
          formControlName="password"></app-password>

        <div class="form-group btn-action">
          <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
          </button>
          <a routerLink="../login" class="btn btn-link">Login</a>
        </div>
      </form>

      <div class="login100-more" style="background-image: url('../../assets/img/bg-01.jpeg');">

      </div>
    </div>
  </div>
</div>